/* Ejercicio 1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey !important;
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de flex a columna */
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: aliceblue;
  width: 30% !important;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto; /* Centramos horizontalmente y le damos margen */
}

h1{
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grafica {
  width: 100%;
  margin: 10px auto; /* Centramos horizontalmente y le damos margen */
}
