body {
  background-color: darkslategrey !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: aliceblue;
  width: 30% !important;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute; /* Posición absoluta para superponerlo */
  top: 10px; /* Ajusta la posición vertical según tus necesidades */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 999; /* Un valor alto de z-index para superponerlo */
}

