*{
  height: 100vh;
  margin: 0;
  padding: 0;
}

div{
  width: 200px;
  height: 200px;
}

main section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 300px;
}

#key{
  width: 200px;
  height: 200px;
}