/* Ejercicio 1 */

*{
  margin: 0;
  padding: 0;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main img{
  width: 400px;
  height: 80%;
}

.border{
  border: 2px solid red;
}


/* Ejercicio 2 */