* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


@media (max-width: 767px) {
  /* Estilos para celulares */

  header {
    padding: 0;
    height: 137px;
  }
  .topHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding-left: 5px;
    background-color: #283618;
    height: 50px;
    width: 100%;
  }
  .topHeader h4{
   color: white;
  }
  .burger-menu{
    margin-right: 20px;
    margin-left: auto;
  }
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606C38;
    width: 100%;
  }
  .filter h4{
    margin-top: 10px;
    margin-bottom: 8px;
  }
  select{
    height: 30px;
    width: 70%;
    margin-bottom: 20px;
  }
  main {
    background-color: #FEFAE0;
    height: calc(100vh - 218px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product{
    height: 350px;
    width: 300px;
    background-color: #dda15e;
  }
  .product-image{
    background-image: url("images/aspidistra.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
    border: 5px solid #bc6c25;
  }
  .product-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    background-color: #bc6c25;
  }
  .product-description h3{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .product-description button {
    color: white;
    background-color: #606C38;
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .product-description button:hover {
    background-color: #283618;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin-top: 30px;
  }
  footer p{
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  .social-network{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  
 












  footer {
    background-color: #606C38;
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
}

@media (min-width: 1024px) {
  /* Estilos para escritorio */
}
