@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*
{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
  }
main
{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    border: 1px;
    border-right: 2px solid rgb(224, 224, 224);
}

.user
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.user-contact
{
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.contact-name
{
  font-weight: 400;
}
.user img {
    margin: 10px;
    margin-left: 30px;
    width: 15%;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .name-status {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .contact-status {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .active-status
  {
    color: #828485;
  }
  

.icons 
{
    width: 40%;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    font-size: larger;
    gap: 15px;
}

.mainPanel{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.user-contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .new-chat
  {
    width: 100%;
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(196, 196, 196);
  }
  .new-chat-button
  {
    color:white;
    padding: 15px 50px 15px 50px;
    width: 40%;
    text-align: center;
    background-color: #A491D2;
    
  }
  .new-chat-button:hover
  {
    background-color: #CDC3E6;
  }
.mainPanel
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
  .image-hands
  {
    width: 300px;
    height: 300px;
    background-image: url("images/hand.png");
    background-size: cover; 
    border-radius: 5%;
  }

  .mainPanel h1 {
    padding-top: 30px;
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 5px;
    font-weight: 600;
  }
  .comienza-texto{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .comienza-texto p{
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
    font-weight: 300;
    font-size: 18px;
  }
  
  
