body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
}

header {
  background-color: rgb(37, 82, 123);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


footer {
  background-color: rgb(76, 209, 87);
  height: 50px;
}


main {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  width: 150px;
}

.grid {
  flex: 1;
}


.container
{
  background-color: rgb(57, 204, 204);
  display: grid;
  width: 100vw;
  grid-template-columns: [nombre]1fr 1fr 1fr;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: 
    "item-1 item-2 item-3"
    "item-4 . .";
  
} 

aside ul {
  padding: 0;
  list-style: none;
}

aside ul li {
  padding-left: 1.5rem;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}

li h4
{
  margin-top: 5px;
  margin-bottom: 5px;
}


.item
{
  background-color: brown;
  border: 7px solid blue;
}

.header
{
  grid-area: header;
}

.item-1
{
  grid-area: item-1;
}
.item-2
{
  grid-area: item-2;
}
.item-3
{
  grid-area: item-3;
}
.item-4
{
  grid-area: item-4;
}
.item-5
{
  grid-area: item-5;
}
.item-6
{
  grid-area: item-6;
}
.footer
{
  grid-area: footer;
} 